body {
  font-family: sans-serif;
  padding: 2rem;
}

body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}

header {
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}

h2 {
  margin-bottom: 1rem;
  color: #555;
}

h2:before {
  content: '\2026\0020';
}

ul {
  list-style-type: none;
}

.genre {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.genre-name {
  margin-right: 1rem;
}

.genre-weight {
  color: #aaa;
}

#app-body {
  display: flex;
  justify-content: space-around;
}
